.ez-card {
  --_card-container-shape: var(--md-sys-shape-corner-medium, 12px);

  position: relative;
  display: inline-flex;
  border-radius: var(--_card-container-shape);
  overflow: hidden;
  min-width: 14.5625rem; /* 233px */
}

/** Orientation
 ------------------- **/

/** Horizontal **/
:where(html[dir="ltr"], html:not([dir])) .ez-card:not(.ez-layout-horizontal) {
  flex-flow: column nowrap;
}

/** Vertical **/
html[dir="rtl"] .ez-card:not(.ez-layout-vertical) {
  flex-flow: row nowrap;
}

/* Elevated */
.ez-card.ez-elevated {
  background: var(--md-sys-color-surface-container-low, Canvas);
  box-shadow: var(--md-sys-elevation-level1, 0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%));
  transition: box-shadow var(--md-sys-motion-duration-short2, 100ms) var(--md-sys-motion-easing-standard, ease);
}

.ez-card.ez-elevated:is(a, button, [role="button"]):hover {
  box-shadow: var(--md-sys-elevation-level2, 0 1px 2px 0 rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%));
}

.ez-card.ez-elevated:is(a, button, [role="button"]):active {
  box-shadow: var(--md-sys-elevation-level1, 0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%));
}

/* Filled */
.ez-card.ez-filled {
  background: var(--md-sys-color-surface-container-highest, Canvas);
}

/* Outlined */
.ez-card.ez-outlined {
  background: var(--md-sys-color-surface, Canvas);
  border: var(--ez-border-width, 1px) solid var(--md-sys-color-outline-variant, currentcolor);
}

/* Focus indicator for interactive cards */
.ez-card:is(a, button, [role="button"]):focus-visible {
  outline: 3px solid var(--ez-focus-ring-color);
  outline-offset: 2px;
}

/* Ripple defaults for interactive cards */
.ez-card:is(a, button, [role="button"]) > ez-ripple::after,
.ez-card:is(a, button, [role="button"]) > ez-ripple::before {
  background: var(--md-sys-color-on-surface, currentcolor);

  --ez-ripple-active-opacity: 0.10;
}

/* Disabled */
.ez-card:is([disabled], [aria-disabled="true"]) {
  opacity: var(--md-sys-state-disabled-content-opacity, 0.38);
  cursor: default;

  &, & * {
    pointer-events: none;
  }
}

/* Dragged */
.ez-card.ez-elevated.ez-dragged {
  box-shadow: var(--md-sys-elevation-level4, 0 2px 3px 0 rgb(0 0 0 / 30%), 0 6px 10px 4px rgb(0 0 0 / 15%));
}

/* Card sub-elements */
.ez-card__media > img,
.ez-card__media > video,
.ez-card__media {
  display: block;
  width: 100%;
}

.ez-card__media > img,
.ez-card__media > video {
  height: auto;
}

.ez-card__header {
  padding: var(--md-sys-spacing-4, 1rem);
}

.ez-card__content {
  padding: 0 var(--md-sys-spacing-4, 1rem) var(--md-sys-spacing-4, 1rem);
  height: 100%;
}

.ez-card__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--md-sys-spacing-2, 0.5rem);
  padding: var(--md-sys-spacing-2, 0.5rem) var(--md-sys-spacing-4, 1rem);
}
