section > :where(
  header,
  .ez-section__body > header,
  .ez-section-body > header
) {
  padding: 1.5rem;
}

section > :where(
  section,
  article,
  .ez-section__body,
  .ez-section-body
) {
  border-top: var(--ez-1px) solid currentcolor;
}

section > :where(
  section,
  article,
  .ez-section__body,
  .ez-section-body
) > :where(
  header,
  .ez-section__body > header,
  .ez-section-body > header
) {
  padding: .5rem;
}

section > :where(
  section,
  article,
  .ez-section__body,
  .ez-section-body
) > :where(
  header,
  .ez-section__body > header,
  .ez-section-body > header
) + * {
  margin-top: 1rem;
}

section article,
section > :where(
  .ez-section__body,
  .ez-section-body
) {
  padding: 1.5rem;
}
