.dark-high-contrast {
  --md-sys-color-primary: oklch(95.48% 0.0217 256.73);
  --md-sys-color-surface-tint: oklch(82.65% 0.0899 250.43);
  --md-sys-color-on-primary: oklch(0.00% 0.0000 none);
  --md-sys-color-primary-container: oklch(81.35% 0.0971 250.43);
  --md-sys-color-on-primary-container: oklch(14.95% 0.0383 245.85);
  --md-sys-color-secondary: oklch(95.80% 0.0282 313.36);
  --md-sys-color-on-secondary: oklch(0.00% 0.0000 none);
  --md-sys-color-secondary-container: oklch(82.63% 0.1092 305.47);
  --md-sys-color-on-secondary-container: oklch(16.21% 0.0874 298.16);
  --md-sys-color-tertiary: oklch(94.63% 0.1441 118.86);
  --md-sys-color-on-tertiary: oklch(0.00% 0.0000 none);
  --md-sys-color-tertiary-container: oklch(80.82% 0.1387 119.43);
  --md-sys-color-on-tertiary-container: oklch(14.92% 0.0356 120.55);
  --md-sys-color-error: oklch(95.74% 0.0211 28.33);
  --md-sys-color-on-error: oklch(0.00% 0.0000 none);
  --md-sys-color-error-container: oklch(82.55% 0.0977 29.39);
  --md-sys-color-on-error-container: oklch(15.82% 0.0649 29.23);
  --md-sys-color-background: oklch(18.88% 0.0103 248.37);
  --md-sys-color-on-background: oklch(91.30% 0.0084 271.32);
  --md-sys-color-surface: oklch(18.88% 0.0103 248.37);
  --md-sys-color-on-surface: oklch(100.00% 0.0000 none);
  --md-sys-color-surface-variant: oklch(39.50% 0.0178 254.74);
  --md-sys-color-on-surface-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-outline: oklch(95.41% 0.0174 264.49);
  --md-sys-color-outline-variant: oklch(81.51% 0.0173 259.42);
  --md-sys-color-shadow: oklch(0.00% 0.0000 none);
  --md-sys-color-scrim: oklch(0.00% 0.0000 none);
  --md-sys-color-inverse-surface: oklch(91.30% 0.0084 271.32);
  --md-sys-color-inverse-on-surface: oklch(0.00% 0.0000 none);
  --md-sys-color-inverse-primary: oklch(40.01% 0.1027 245.91);
  --md-sys-color-primary-fixed: oklch(91.25% 0.0428 255.92);
  --md-sys-color-on-primary-fixed: oklch(0.00% 0.0000 none);
  --md-sys-color-primary-fixed-dim: oklch(82.65% 0.0899 250.43);
  --md-sys-color-on-primary-fixed-variant: oklch(17.72% 0.0465 246.90);
  --md-sys-color-secondary-fixed: oklch(91.77% 0.0523 308.99);
  --md-sys-color-on-secondary-fixed: oklch(0.00% 0.0000 none);
  --md-sys-color-secondary-fixed-dim: oklch(83.79% 0.1018 305.82);
  --md-sys-color-on-secondary-fixed-variant: oklch(19.20% 0.1036 298.08);
  --md-sys-color-tertiary-fixed: oklch(90.46% 0.1424 119.14);
  --md-sys-color-on-tertiary-fixed: oklch(0.00% 0.0000 none);
  --md-sys-color-tertiary-fixed-dim: oklch(82.05% 0.1396 119.31);
  --md-sys-color-on-tertiary-fixed-variant: oklch(17.51% 0.0419 120.70);
  --md-sys-color-surface-dim: oklch(18.88% 0.0103 248.37);
  --md-sys-color-surface-bright: oklch(43.03% 0.0091 260.73);
  --md-sys-color-surface-container-lowest: oklch(0.00% 0.0000 none);
  --md-sys-color-surface-container-low: oklch(24.21% 0.0089 255.59);
  --md-sys-color-surface-container: oklch(31.08% 0.0091 248.12);
  --md-sys-color-surface-container-high: oklch(35.39% 0.0088 248.08);
  --md-sys-color-surface-container-highest: oklch(39.70% 0.0093 260.72);
  --md-extended-color-success-color: oklch(94.63% 0.1441 118.86);
  --md-extended-color-success-on-color: oklch(0.00% 0.0000 none);
  --md-extended-color-success-color-container: oklch(80.82% 0.1387 119.43);
  --md-extended-color-success-on-color-container: oklch(14.92% 0.0356 120.55);
  --md-extended-color-warning-color: oklch(95.58% 0.0240 47.12);
  --md-extended-color-warning-on-color: oklch(0.00% 0.0000 none);
  --md-extended-color-warning-color-container: oklch(82.38% 0.1136 54.17);
  --md-extended-color-warning-on-color-container: oklch(15.44% 0.0383 54.91);
  --md-extended-color-info-color: oklch(94.47% 0.0800 177.37);
  --md-extended-color-info-on-color: oklch(0.00% 0.0000 none);
  --md-extended-color-info-color-container: oklch(80.40% 0.0931 177.18);
  --md-extended-color-info-on-color-container: oklch(14.63% 0.0273 176.42);
}
