:root,
.light-medium-contrast {
  --md-sys-color-primary: oklch(33.37% 0.0853 245.72);
  --md-sys-color-surface-tint: oklch(48.12% 0.1241 246.15);
  --md-sys-color-on-primary: oklch(100.00% 0.0000 none);
  --md-sys-color-primary-container: oklch(50.83% 0.1307 246.01);
  --md-sys-color-on-primary-container: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary: oklch(35.96% 0.1941 298.04);
  --md-sys-color-on-secondary: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary-container: oklch(50.00% 0.2107 300.11);
  --md-sys-color-on-secondary-container: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary: oklch(32.95% 0.0795 121.53);
  --md-sys-color-on-tertiary: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary-container: oklch(50.11% 0.1201 120.89);
  --md-sys-color-on-tertiary-container: oklch(100.00% 0.0000 none);
  --md-sys-color-error: oklch(35.10% 0.1440 29.23);
  --md-sys-color-on-error: oklch(100.00% 0.0000 none);
  --md-sys-color-error-container: oklch(50.33% 0.2065 29.23);
  --md-sys-color-on-error-container: oklch(100.00% 0.0000 none);
  --md-sys-color-background: oklch(98.31% 0.0080 278.64);
  --md-sys-color-on-background: oklch(22.40% 0.0099 248.27);
  --md-sys-color-surface: oklch(98.31% 0.0080 278.64);
  --md-sys-color-on-surface: oklch(17.67% 0.0114 260.64);
  --md-sys-color-surface-variant: oklch(91.37% 0.0168 259.42);
  --md-sys-color-on-surface-variant: oklch(33.34% 0.0171 251.82);
  --md-sys-color-outline: oklch(43.93% 0.0173 254.72);
  --md-sys-color-outline-variant: oklch(53.53% 0.0165 254.68);
  --md-sys-color-shadow: oklch(0.00% 0.0000 none);
  --md-sys-color-scrim: oklch(0.00% 0.0000 none);
  --md-sys-color-inverse-surface: oklch(31.08% 0.0091 248.12);
  --md-sys-color-inverse-on-surface: oklch(95.83% 0.0083 271.33);
  --md-sys-color-inverse-primary: oklch(82.65% 0.0899 250.43);
  --md-sys-color-primary-fixed: oklch(53.26% 0.1303 246.73);
  --md-sys-color-on-primary-fixed: oklch(100.00% 0.0000 none);
  --md-sys-color-primary-fixed-dim: oklch(44.62% 0.1145 245.90);
  --md-sys-color-on-primary-fixed-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary-fixed: oklch(55.87% 0.2101 300.78);
  --md-sys-color-on-secondary-fixed: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary-fixed-dim: oklch(47.37% 0.2117 299.67);
  --md-sys-color-on-secondary-fixed-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary-fixed: oklch(52.75% 0.1226 121.01);
  --md-sys-color-on-tertiary-fixed: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary-fixed-dim: oklch(44.17% 0.1057 120.76);
  --md-sys-color-on-tertiary-fixed-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-surface-dim: oklch(82.68% 0.0086 271.31);
  --md-sys-color-surface-bright: oklch(98.31% 0.0080 278.64);
  --md-sys-color-surface-container-lowest: oklch(100.00% 0.0000 none);
  --md-sys-color-surface-container-low: oklch(96.51% 0.0081 278.64);
  --md-sys-color-surface-container: oklch(93.12% 0.0084 271.32);
  --md-sys-color-surface-container-high: oklch(89.77% 0.0084 271.32);
  --md-sys-color-surface-container-highest: oklch(86.09% 0.0085 271.32);
  --md-extended-color-success-color: oklch(32.95% 0.0795 121.53);
  --md-extended-color-success-on-color: oklch(100.00% 0.0000 none);
  --md-extended-color-success-color-container: oklch(50.11% 0.1201 120.89);
  --md-extended-color-success-on-color-container: oklch(100.00% 0.0000 none);
  --md-extended-color-warning-color: oklch(34.08% 0.0857 53.69);
  --md-extended-color-warning-on-color: oklch(100.00% 0.0000 none);
  --md-extended-color-warning-color-container: oklch(50.28% 0.1273 53.20);
  --md-extended-color-warning-on-color-container: oklch(100.00% 0.0000 none);
  --md-extended-color-info-color: oklch(32.55% 0.0600 177.71);
  --md-extended-color-info-on-color: oklch(100.00% 0.0000 none);
  --md-extended-color-info-color-container: oklch(50.94% 0.0936 178.15);
  --md-extended-color-info-on-color-container: oklch(100.00% 0.0000 none);
}
