@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: oklch(89.42% 0.0528 252.79);
    --md-sys-color-surface-tint: oklch(82.65% 0.0899 250.43);
    --md-sys-color-on-primary: oklch(26.46% 0.0684 246.25);
    --md-sys-color-primary-container: oklch(65.22% 0.1265 248.31);
    --md-sys-color-on-primary-container: oklch(0.00% 0.0000 none);
    --md-sys-color-secondary: oklch(90.13% 0.0624 308.19);
    --md-sys-color-on-secondary: oklch(28.82% 0.1553 298.34);
    --md-sys-color-secondary-container: oklch(67.79% 0.2067 302.16);
    --md-sys-color-on-secondary-container: oklch(0.00% 0.0000 none);
    --md-sys-color-tertiary: oklch(88.66% 0.1416 119.28);
    --md-sys-color-on-tertiary: oklch(26.28% 0.0634 121.48);
    --md-sys-color-tertiary-container: oklch(64.83% 0.1309 120.47);
    --md-sys-color-on-tertiary-container: oklch(0.00% 0.0000 none);
    --md-sys-color-error: oklch(90.05% 0.0519 28.45);
    --md-sys-color-on-error: oklch(28.00% 0.1149 29.23);
    --md-sys-color-error-container: oklch(67.96% 0.2093 30.05);
    --md-sys-color-on-error-container: oklch(0.00% 0.0000 none);
    --md-sys-color-background: oklch(18.88% 0.0103 248.37);
    --md-sys-color-on-background: oklch(91.30% 0.0084 271.32);
    --md-sys-color-surface: oklch(18.88% 0.0103 248.37);
    --md-sys-color-on-surface: oklch(100.00% 0.0000 none);
    --md-sys-color-surface-variant: oklch(39.50% 0.0178 254.74);
    --md-sys-color-on-surface-variant: oklch(89.55% 0.0169 259.42);
    --md-sys-color-outline: oklch(76.22% 0.0171 262.74);
    --md-sys-color-outline-variant: oklch(65.42% 0.0170 257.22);
    --md-sys-color-shadow: oklch(0.00% 0.0000 none);
    --md-sys-color-scrim: oklch(0.00% 0.0000 none);
    --md-sys-color-inverse-surface: oklch(91.30% 0.0084 271.32);
    --md-sys-color-inverse-on-surface: oklch(28.40% 0.0101 260.71);
    --md-sys-color-inverse-primary: oklch(40.01% 0.1027 245.91);
    --md-sys-color-primary-fixed: oklch(91.25% 0.0428 255.92);
    --md-sys-color-on-primary-fixed: oklch(17.72% 0.0465 246.90);
    --md-sys-color-primary-fixed-dim: oklch(82.65% 0.0899 250.43);
    --md-sys-color-on-primary-fixed-variant: oklch(33.37% 0.0853 245.72);
    --md-sys-color-secondary-fixed: oklch(91.77% 0.0523 308.99);
    --md-sys-color-on-secondary-fixed: oklch(19.20% 0.1036 298.08);
    --md-sys-color-secondary-fixed-dim: oklch(83.79% 0.1018 305.82);
    --md-sys-color-on-secondary-fixed-variant: oklch(35.96% 0.1941 298.04);
    --md-sys-color-tertiary-fixed: oklch(90.46% 0.1424 119.14);
    --md-sys-color-on-tertiary-fixed: oklch(17.51% 0.0419 120.70);
    --md-sys-color-tertiary-fixed-dim: oklch(82.05% 0.1396 119.31);
    --md-sys-color-on-tertiary-fixed-variant: oklch(32.95% 0.0795 121.53);
    --md-sys-color-surface-dim: oklch(18.88% 0.0103 248.37);
    --md-sys-color-surface-bright: oklch(38.82% 0.0086 248.05);
    --md-sys-color-surface-container-lowest: oklch(13.16% 0.0096 242.74);
    --md-sys-color-surface-container-low: oklch(23.36% 0.0089 255.60);
    --md-sys-color-surface-container: oklch(27.59% 0.0102 260.70);
    --md-sys-color-surface-container-high: oklch(31.97% 0.0082 255.56);
    --md-sys-color-surface-container-highest: oklch(36.29% 0.0095 260.72);
    --md-extended-color-success-color: oklch(88.66% 0.1416 119.28);
    --md-extended-color-success-on-color: oklch(26.28% 0.0634 121.48);
    --md-extended-color-success-color-container: oklch(64.83% 0.1309 120.47);
    --md-extended-color-success-on-color-container: oklch(0.00% 0.0000 none);
    --md-extended-color-warning-color: oklch(89.99% 0.0604 53.87);
    --md-extended-color-warning-on-color: oklch(27.16% 0.0692 52.75);
    --md-extended-color-warning-color-container: oklch(66.73% 0.1423 54.17);
    --md-extended-color-warning-on-color-container: oklch(0.00% 0.0000 none);
    --md-extended-color-info-color: oklch(88.31% 0.0927 177.66);
    --md-extended-color-info-on-color: oklch(26.21% 0.0486 176.97);
    --md-extended-color-info-color-container: oklch(64.42% 0.0935 177.69);
    --md-extended-color-info-on-color-container: oklch(0.00% 0.0000 none);
  }
}
