/**
 * Base
 * ---------------- */
.ez-btn,
.ez-button {
  --md-btn-container-height: 40px;
  --md-btn-container-shape: var(--md-sys-shape-corner-full, calc(infinity * 1px));
  --_btn-container-height: var(--md-btn-container-height);
  --_btn-container-shape: calc(var(--_btn-container-height, 100%) / 2);
  --_btn-scale: 1.08; /* Used for selected/pressed state scaling */
  --_btn-icon-size: 20px;

  /* --_btn-shift: calc(var(--_btn-icon-size / 2) - 1px); */
  --_btn-border-width: var(--ez-border-width);

  /* Unchanging styles */
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  text-decoration: none;
  text-align: center;
  user-select: none;

  /* Direct CSS values */
  min-height: var(--_btn-container-height);
  border-radius: var(--_btn-container-shape);
  border: none;
  background: ButtonFace;
  color: ButtonText;
  box-shadow: none;
  font-family: var(--md-sys-typescale-label-large-font, inherit), sans-serif;
  font-weight: var(--md-sys-typescale-label-large-weight, bold);

  /* transform: translateX(var(--_btn-shift)) scaleX(var(--_btn-scale, 1)); */

  /* Ensure good performance for transform and border-radius changes */
  will-change: transform, border-radius;
  transition:
    border-color var(--md-sys-motion-duration-short4, 200ms) var(--md-sys-motion-easing-expressive-default-effects, cubic-bezier(0.34, 0.80, 0.34, 1.00)),
    color var(--md-sys-motion-duration-short4, 200ms) var(--md-sys-motion-easing-expressive-default-effects, cubic-bezier(0.34, 0.80, 0.34, 1.00)),
    background-color var(--md-sys-motion-duration-short4, 200ms) var(--md-sys-motion-easing-expressive-default-effects, cubic-bezier(0.34, 0.80, 0.34, 1.00)),
    opacity var(--md-sys-motion-duration-short4, 200ms) var(--md-sys-motion-easing-expressive-default-effects, cubic-bezier(0.34, 0.80, 0.34, 1.00)),
    box-shadow var(--md-sys-motion-duration-short4, 200ms) var(--md-sys-motion-easing-expressive-default-effects, cubic-bezier(0.34, 0.80, 0.34, 1.00)),
    transform var(--md-sys-motion-duration-medium2, 300ms) var(--md-sys-motion-easing-expressive-default-spatial, cubic-bezier(0.38, 1.21, 0.22, 1.00));
}

.ez-btn-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  transform: scale(var(--inv-x, 1), var(--inv-y, 1));
  will-change: transform;
  transition: transform var(--md-sys-motion-duration-medium2, 300ms) var(--md-sys-motion-easing-expressive-default-spatial, cubic-bezier(0.38, 1.21, 0.22, 1.00));
  pointer-events: none;
}

:where(
  .ez-btn,
  .ez-button
):not(:disabled):hover {
  cursor: pointer;
}

/*
 * Contents
 * -------------------- */

/**
 * Setup `ez-ripple` element for animations.
 */
.ez-btn, .ez-button,
:where(.ez-btn, .ez-button) > *:not(ez-ripple) {
  position: relative;
}

:where(.ez-btn, .ez-button) > *:not(ez-ripple) {
  z-index: 3;
}

:where(.ez-btn, .ez-button) > ez-ripple {
  z-index: 1;
}

:where(.ez-btn, .ez-button):not(.ez-outlined) {
  border: none;
}

/**
 * Contained icon sizing
 * ------------------- */
:where(.ez-btn, .ez-button) > .md-icon {
  font-size: var(--_btn-icon-size);
  width: var(--_btn-icon-size);
  height: var(--_btn-icon-size);
}

/**
 * Content wrapper
 * ------------------- */
:where(.ez-btn, .ez-button) > .ez-btn-content {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  white-space: nowrap;
  pointer-events: none;
  transform: scaleX(var(--_btn-inv-x, 1));
  will-change: transform;
  transition: transform var(--md-sys-motion-duration-medium2, 300ms) var(--md-sys-motion-easing-expressive-default-spatial, cubic-bezier(0.38, 1.21, 0.22, 1.00));
}

/** Label element support (for radio/checkbox button groups support)
 * ------------------- */
:where(.ez-btn, .ez-button):is(label) {
  display: inline-block;

  &:has(:focus-visible) {
    outline: 3px solid var(--ez-focus-ring-color);
    outline-offset: 2px;
  }
}

:where(.ez-btn, .ez-button):is(label) :where(input[type="checkbox"], input[type="radio"]) {
  position: absolute;
  appearance: none;
  display: block;
  inset: 0;
  width: 100%;
  height: 100%;

  &, &:checked {
    background: transparent;
    border: none;
  }
}

/** Ripple styles **/
:where(.ez-btn, .ez-button):not(.ez-filled) ez-ripple::after,
:where(.ez-btn, .ez-button):not(.ez-filled) ez-ripple::before {
  background: var(--md-color-theme);
}

// Default Colors
// ----
:where(.ez-btn, .ez-button):not(:where([class^="ez-theme"], [class*=" ez-theme"]) *) {
  --md-color-theme: var(--md-sys-color-primary);
  --md-color-on-theme: var(--md-sys-color-on-primary);
  --md-color-theme-container: var(--md-sys-color-primary-container);
  --md-color-on-theme-container: var(--md-sys-color-on-primary-container);
}
