/**
 * MD3 Variants — Filled Tonal
 * -------------------- */

/* Filled Tonal */
:where(.ez-btn, .ez-button).ez-tonal {
  background: var(--md-color-theme-container, var(--md-sys-color-secondary-container, ButtonFace));
  color: var(--md-color-on-theme-container, var(--md-sys-color-on-secondary-container, ButtonText));
}

:where(.ez-btn, .ez-button).ez-tonal:not(:disabled):hover {
  box-shadow: var(--md-sys-elevation-level1, 0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%));
}
