.variants-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.variant-example {
  h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

.appbar-wrapper {
  border: var(--ez-border-width) solid var(--md-sys-color-outline, #ccc);
  border-radius: var(--ez-border-radius);
  overflow: hidden;
}

.example-scroll-pane {
  position: relative;
  height: 300px;
  overflow: auto;
  border-radius: var(--ez-border-radius);
  border: var(--ez-border-width) solid var(--md-sys-color-outline, #ccc);
}

.example-scroll-pane > .text {
  padding: 1rem;
}

.example-appbar-auxillary-classname {
  background: green;
}
