@import "../component";

h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
}

h1,
.ez-h1 { @extend %md-typescale-display-large; }

h2,
.ez-h2 { @extend %md-typescale-headline-large; }

h3,
.ez-h3 { @extend %md-typescale-headline-medium; }

h4,
.ez-h4 { @extend %md-typescale-headline-small; }

h5,
.ez-h5 { @extend %md-typescale-title-large; }

h6,
.ez-h6 { @extend %md-typescale-title-medium; }

a, p { @extend %md-typescale-body-large; }

dl dd + *,
dl dt + *,
dl + dl {
  margin-top: var(--ez-24px);
}

dt, label {
  font-weight: var(--md-sys-typescale-label-large-weight, 500);
}
