@import "../scss/component-prelude";

:host {
  position: relative;
  display: inline-flex;
}

.badge {
  --_badge-shape: var(--md-sys-shape-corner-full, calc(infinity * 1px));
  --_badge-size: 6px;
  --_badge-bg: var(--md-color-theme, var(--md-sys-color-error, red));
  --_badge-color: var(--md-color-on-theme, var(--md-sys-color-on-error, white));

  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  translate: 50% -50%;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: var(--_badge-size);
  height: var(--_badge-size);
  border-radius: var(--_badge-shape);
  background: var(--_badge-bg);
  color: var(--_badge-color);
  padding: 0;
}

.badge.large {
  @extend %md-typescale-label-small;

  --_badge-size: 16px;

  color: var(--_badge-color);
  padding-inline: 4px;
}
