@import "../scss/component-prelude";

:host {
  display: inline-block;
}

:host > .ez-field {
  display: flex;
  flex-flow: row wrap;
}

:host .ez-field-center {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host [part~='leading trailing error help content']:empty {
  display: none;
}

:host [part='error'] {
  color: var(--md-sys-color-error, var(--ez-error-color-5));

  @extend %md-typescale-body-small;

  margin-top: 0.25rem;
  padding-inline: var(--md-sys-spacing-4, 1rem);
}

:host [part='help'] {
  @extend %md-typescale-body-small;

  color: var(--md-sys-color-on-surface-variant, GrayText);
  margin-top: 0.25rem;
  padding-inline: var(--md-sys-spacing-4, 1rem);
}

:host [part='content'] {
  @extend %md-typescale-body-small;

  color: var(--md-sys-color-on-surface-variant, GrayText);
  margin-top: 0.25rem;
  padding-inline: var(--md-sys-spacing-4, 1rem);
}
