:root,
.light-high-contrast {
  --md-sys-color-primary: oklch(29.23% 0.0758 246.37deg);
  --md-sys-color-surface-tint: oklch(48.12% 0.1241 246.15deg);
  --md-sys-color-on-primary: oklch(100.00% 0.0000 none);
  --md-sys-color-primary-container: oklch(40.40% 0.1042 246.14deg);
  --md-sys-color-on-primary-container: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary: oklch(31.55% 0.1704 297.91deg);
  --md-sys-color-on-secondary: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary-container: oklch(43.34% 0.2134 298.92deg);
  --md-sys-color-on-secondary-container: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary: oklch(28.93% 0.0697 121.33deg);
  --md-sys-color-on-tertiary: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary-container: oklch(40.01% 0.0964 121.33deg);
  --md-sys-color-on-tertiary-container: oklch(100.00% 0.0000 none);
  --md-sys-color-error: oklch(30.93% 0.1269 29.23deg);
  --md-sys-color-on-error: oklch(100.00% 0.0000 none);
  --md-sys-color-error-container: oklch(42.68% 0.1751 29.23deg);
  --md-sys-color-on-error-container: oklch(100.00% 0.0000 none);
  --md-sys-color-background: oklch(98.31% 0.0080 278.64deg);
  --md-sys-color-on-background: oklch(22.40% 0.0099 248.27deg);
  --md-sys-color-surface: oklch(98.31% 0.0080 278.64deg);
  --md-sys-color-on-surface: oklch(0.00% 0.0000 none);
  --md-sys-color-surface-variant: oklch(91.37% 0.0168 259.42deg);
  --md-sys-color-on-surface-variant: oklch(0.00% 0.0000 none);
  --md-sys-color-outline: oklch(29.38% 0.0176 251.88deg);
  --md-sys-color-outline-variant: oklch(40.62% 0.0177 254.73deg);
  --md-sys-color-shadow: oklch(0.00% 0.0000 none);
  --md-sys-color-scrim: oklch(0.00% 0.0000 none);
  --md-sys-color-inverse-surface: oklch(31.08% 0.0091 248.12deg);
  --md-sys-color-inverse-on-surface: oklch(100.00% 0.0000 none);
  --md-sys-color-inverse-primary: oklch(82.65% 0.0899 250.43deg);
  --md-sys-color-primary-fixed: oklch(40.40% 0.1042 246.14deg);
  --md-sys-color-on-primary-fixed: oklch(100.00% 0.0000 none);
  --md-sys-color-primary-fixed-dim: oklch(31.87% 0.0816 245.82deg);
  --md-sys-color-on-primary-fixed-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary-fixed: oklch(43.34% 0.2134 298.92deg);
  --md-sys-color-on-secondary-fixed: oklch(100.00% 0.0000 none);
  --md-sys-color-secondary-fixed-dim: oklch(34.46% 0.1862 297.81deg);
  --md-sys-color-on-secondary-fixed-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary-fixed: oklch(40.01% 0.0964 121.33deg);
  --md-sys-color-on-tertiary-fixed: oklch(100.00% 0.0000 none);
  --md-sys-color-tertiary-fixed-dim: oklch(31.53% 0.0758 121.21deg);
  --md-sys-color-on-tertiary-fixed-variant: oklch(100.00% 0.0000 none);
  --md-sys-color-surface-dim: oklch(78.49% 0.0078 260.73deg);
  --md-sys-color-surface-bright: oklch(98.31% 0.0080 278.64deg);
  --md-sys-color-surface-container-lowest: oklch(100.00% 0.0000 none);
  --md-sys-color-surface-container-low: oklch(95.83% 0.0083 271.33deg);
  --md-sys-color-surface-container: oklch(91.30% 0.0084 271.32deg);
  --md-sys-color-surface-container-high: oklch(87.01% 0.0085 271.32deg);
  --md-sys-color-surface-container-highest: oklch(82.68% 0.0086 271.31deg);
  --md-extended-color-success-color: oklch(28.93% 0.0697 121.33deg);
  --md-extended-color-success-on-color: oklch(100.00% 0.0000 none);
  --md-extended-color-success-color-container: oklch(40.01% 0.0964 121.33deg);
  --md-extended-color-success-on-color-container: oklch(100.00% 0.0000 none);
  --md-extended-color-warning-color: oklch(30.05% 0.0756 53.70deg);
  --md-extended-color-warning-on-color: oklch(100.00% 0.0000 none);
  --md-extended-color-warning-color-container: oklch(41.47% 0.1049 53.26deg);
  --md-extended-color-warning-on-color-container: oklch(100.00% 0.0000 none);
  --md-extended-color-info-color: oklch(28.74% 0.0526 178.72deg);
  --md-extended-color-info-on-color: oklch(100.00% 0.0000 none);
  --md-extended-color-info-color-container: oklch(39.59% 0.0725 178.64deg);
  --md-extended-color-info-on-color-container: oklch(100.00% 0.0000 none);
}
